<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Нумо!</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
         <div class="nav-icon">
            <span class="material-symbols-outlined" onclick="window.location.href='/history'">
                arrow_back
            </span>
         </div>
    </header>
    <main class="main">
        <div class="info">
            <h1 class="detailed-title">{{ habbit[2] }}</h1>
            <p class="detailed-text">{{ habbit[3] }}<br>{{ habbit[4] }}</p>
            <div class="detailed-cont">
                <p class="add-info">{{ date.strftime('%H:%M | %d.%m.%Y') }}</p>
                <span class="material-symbols-outlined delete" onclick="window.location.href='/del?id={{ habbit[7] }}'">
                    delete
                </span>
            </div>
        </div>
    </main>
</body>
</html>