<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Нумо!</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <h1 class="logo" onclick="window.location.href='/'">Нумо!</h1>
        <div class="nav-icon-fake"></div>
    </header>
    <main class="main main-form">
        <div class="info">
            <h1 class="error">{{error}}</h1>
            <h1 class="login-title">Вхід</h1>
            <div class="login-cont">
                <div class="form-cont">
                    <form action="/log" method="POST" class="form">
                        <label for="">Ім'я користувача</label>
                        <input type="text" name="login" placeholder="Введіть свій логін" class="user-data" autocomplete="off">
                        <label for="">Пароль</label>
                        <input type="password" name="password" placeholder="Введіть свій пароль" class="user-data">
                        <input type="submit" value="Увійти" class="login-btn">
                    </form>
                    <p class="login-add"><span class="here" onclick="window.location.href='/register'">Ще не зареєстровані?</span></p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>